@using CarBook.Dto.CommentsDto
@model List<ResultCommentDto>

@if (Model != null)
{
    <h3 class="mb-5">
    @Model.Count Yorum
</h3>
}
else
{
    <h3 class="mb-5">
    0 Yorum
</h3>

}

<ul class="comment-list">
    @if (Model == null)
    {
        <p>Yorum yok!</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            <li class="comment">
                <div class="vcard bio">
                    <img src="/carbook/images/person_1.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@item.Name</h3>
                    <div class="meta">@item.CreatedDate.ToString("dd.MM.yyyy")</div>
                    <p>@item.Description</p>
                    <p><a href="#" class="reply">Reply</a></p>
                </div>
            </li>
        }
    }

</ul>