@model GetBlogById


<h2 class="mb-3">@Model.Title</h2>
<p>@Model.Description</p>

@await Component.InvokeAsync("_TagCloudComponentPartial", new { id = ViewBag.BlogId })

<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="/carbook/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>George Washington</h3>
        <p>Burası gelecek!</p>
    </div>
</div>