@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>
    @await Component.InvokeAsync("_NavbarUIComponentPartial")
    
    @await Component.InvokeAsync("_MainCoverComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterUIComponentPartial")

    @await Component.InvokeAsync("_ScriptUIComponentPartial")

</body>

</html>
