<div class="col-md-8 ftco-animate">
    @await Component.InvokeAsync("_BlogDetailAuthorAboutAndBlogComponentPartial", new { id = ViewBag.BlogId })

    <div class="pt-5 mt-5">


        @await Component.InvokeAsync("_CommentListComponentPartial", new { id = ViewBag.BlogId })

        @* @await Component.InvokeAsync("_AddCommentComponentPartial", new { id = ViewBag.BlogId }) *@
        @await Html.PartialAsync("~/Views/Blog/AddComment.cshtml", new { id = ViewBag.blogid })
    </div>

</div>